/* root */
:root {
  --primery-background-color: #ffffff;
  --secondary-background-color: #e5e5e5;
  --section-background-color: #f5f4fa;
  --header-background-color: #2f303a;
  --primery-text-color: #212121;
  --secondary-text-color: #2196f3;
  --link-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* ----------------------------------------------------------------INDEX---------------------------------------------------------------- */

/* --------------------------------BODY-------------------------------- */

body {
  background-color: var(--primery-background-color);
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.container {
  width: 1200px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}
/* --------------------------------HEADER-------------------------------- */

/* web studio */
.header-logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  text-decoration: none;
}

.header-logo-web {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-text-color);
  text-decoration: none;
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--secondary-text-color);
}
.header-list {
  /* padding-top: 32px;
  padding-bottom: 32px; */
  display: flex;
  margin-left: auto;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list-item:not(:first-child) {
  padding-left: 50px;
}

/* --------------------------------NAV-------------------------------- */

.site-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  text-decoration: none;
}

.site-nav-item:not(:first-child) {
  padding-left: 50px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--secondary-text-color);
  text-decoration: none;
}
.site-nav-list {
  /* padding-top: 32px;
  padding-bottom: 32px;  */
  display: flex;
}

/* --------------------------------HERO-------------------------------- */

.hero {
  background-color: var(--header-background-color);
}

.hero-title {
  margin: 0;
  padding: 0;
  padding-left: 237px;
  padding-right: 237px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}

.hero-button {
  min-width: 50px;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
  cursor: pointer;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}
/* --------------------------------COMPANY-------------------------------- */

.company-list {
  display: flex;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-item:not(:first-child) {
  margin-left: 30px;
}

.company-title {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-text-color);
}

.company-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

/* --------------------------------PICHERS-------------------------------- */

.pichers-list {
  display: flex;
  justify-content: space-between;
}

.pichers-title {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

/* .pichers-foto {
    
} */
/* .pichers-foto:first-child {
} */
.pichers-foto:last-child {
  padding-bottom: 94px;
}

/* --------------------------------TEAM-------------------------------- */
.team {
  background-color: var(--section-background-color);
}

.team-title {
  margin: 0;
  padding: 0;
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  /* background-color: var(--section-background-color); */
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list-item {
  margin-bottom: 94px;
  width: 270px;
  height: 368px;
  background: var(--primery-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
}

.team-text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}

.team-foto {
  margin-bottom: 30px;
}

.team-item {
  margin-bottom: 10px;
}

/* --------------------------------FOOTER-------------------------------- */
.footer {
  background-color: var(--header-background-color);
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primery-background-color);
}

.footer-logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.footer-address {
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-background-color);
}
.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
  text-decoration: none;
}
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: left;
}

.footer-link-email {
  padding-bottom: 9px;
  padding-top: 9px;
}
/* ----------------------------------------------------------------PORTFOLIO---------------------------------------------------------------- */

/* --------------------------------FILTERS-------------------------------- */

.filters-list {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  border-color: var(--section-background-color);
}

.filters-button {
  color: var(--primery-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-item {
  margin-left: 8px;
  height: 38px;
}

.filters-item-fist {
  margin-left: 0px;
}

.filters-item :hover,
.filters-item :focus {
  background-color: var(--secondary-text-color);
  color: var(--primery-background-color);
}

/* --------------------------------PORTFOLIO-------------------------------- */

/* .portfolio {
} */

.portfolio-list {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-fofto {
  margin-bottom: 20px;
}
.portfolio-title {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primery-text-color);
}

.portfolio-text {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--link-text-color);
}
